<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<a href="/list?id=1">일론머스크</a>
<a href="/list?id=2">리플</a>
<a href="/list?id=3">이더리움</a>
<a href="/list?id=4">도지코인</a>
<a href="/list?id=5">저스틴 선</a>
<a href="/list?id=6">고래 알림이</a>
</body>
</html>